@import '../../../variables';

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#avatar {
    max-width: 36px;
    background-color: black;
}

#userData {
    // color: wheat;
    font-weight: bold;
    text-align: right;
    height: 100%;
}

.span {
    display: flex;
}

.dropDown {
    cursor: default !important;
    
    & > .dropdown-menu {
        min-width: 350px;
    }

    &:hover {
        background-color: transparent !important;
        font-size: $fontSize !important;
    }

    &:active {
        & > a {
            background-color: transparent !important;
            color: black !important;
        }
    }
}