@import '../../variables';

.feather {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.sidebar {
  font-size: 0.78rem;
}

#sidebarMenu {
  height: 100vh;
  z-index: 100;
  padding: 12px 12px 0px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 6px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: $primary;
  font-weight: bold;
  font-size: 0.9rem;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.logo--container {
  & > img {
    width: 100%;
    height: auto;
    padding: 5px 100px 10px 100px;
  }
}

.menu--header {
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: #333;
}

.card-header {
  border-radius: 0px !important;
  border: none;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: url("./expand_more.svg");
    transform: rotate(0deg);
    transition: .3s all;
    text-align: right;
    top: 0;
    right: 0;
  }

  &.active {
    &::after {
      transform: rotate(90deg);
    }
  }
}

a:active {
  color: white !important;
}

.nav-item:hover {
  background-color: $secondary;
  font-size: 0.82rem;
  transition: font-size 0.2s;
}