.multivalue-field-header {

    & > .multivalue-field-name {
        font-size: 1.1rem;
        vertical-align: middle;
        display: table-cell;
        max-height: min-content;
        display: flex;

        & > .multivalue-field-sub {
            font-size: 0.8rem;
            display: table-cell;
            height: 100%;
            vertical-align: bottom;
            margin-left: 8px;
        }
    }
}