@import '../../../../variables';

.item--container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > .icon {
        max-width: 24px;
    }
}

.hint {
    font-size: 0.7rem;
    color: lightgray;
}

.nav-button {
    cursor: pointer;

    &.disabled {
        cursor: default;
    }

    &:hover {
        background-color: $secondary;
    }

    &.disabled:hover {
        background-color: transparent;
    }
}