$primary: #B00020;
$secondary: #FBF4EF;
$disabled: darkgray;
$fontColor: #936B52;
$border: #CF6679;
$disabledColor: rgba(0, 0, 0, 0.26);
$error: #c20024;
$errorLight: rgba(#c05c6e, 0.3);

$previousPrimary: #B00020;

$active: #39ce6b;
$inactive: #CF6679;

$fontSize: 0.875rem;

$max-underline-width-rule: min(200px, 100%);
$underline-transition: max-width .25s;